
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "npm run preview"]
deploymentTarget = "cloud_run"
build = ["sh", "-c", "npm run build"]
