
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "npm run preview"]
deploymentTarget = "cloud_run"
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = 37039831
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run preview"
